<head>
    <link rel="stylesheet" href="./assets/css/footer.css">

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Poiret+One&display=swap"
        rel="stylesheet">
</head>
<footer>
    <div class="footer-content">
        <section class="contact-me" data-aos="fade-right">
            
            <span>Contact me</span>
            <a href="https://mail.google.com/mail/?view=cm&fs=1&to=vz.matias1029@gmail.com&su=Business Inquiry - Portfolio Contact&body=Dear Matías Véliz,%0D%0A%0D%0AI am reaching out after viewing your portfolio.%0D%0A%0D%0ABest regards." target="_blank" style="text-decoration: none; color: white;">
            <p>vz.matias1029@gmail.com</p>
            </a>
        </section>
        <section class="social-medias" data-aos="fade-left">
            <span>Social media</span>
            <div class="social-media">
                <a href="https://mail.google.com/mail/?view=cm&fs=1&to=vz.matias1029@gmail.com&su=Business Inquiry - Portfolio Contact&body=Dear Matías Véliz,%0D%0A%0D%0AI am reaching out after viewing your portfolio.%0D%0A%0D%0ABest regards." target="_blank"">Gmail</a>
                <a href="https://www.linkedin.com/in/matiasvelizigor/" target="_blank">LinkedIn</a>
                <a href="https://github.com/MatiasV404" target="_blank">GitHub</a>
            </div>
        </section>
    </div>
    <div class="copyright">
        ©2025 MATIAS VELIZ
    </div>
</footer>