<head>
    <link rel="stylesheet" href="./assets/css/footer.css">

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Poiret+One&display=swap"
        rel="stylesheet">
</head>
<footer>
    <span class="copyright">©2025 MATIAS VELIZ</span>
    <div class="footer-content">
        <section class="contact-me">
            <span>Contact me</span>
            <p>vz.matias1029@gmail.com</p>
        </section>
        <section class="social-medias">
            <span>Social medias</span>
            <div class="social-media">
                <img src="./assets/images/instagram-dark.svg" alt="Instagram">
                <p>Linkedin</p>
                <p>Github</p>
            </div>
        </section>
    </div>
</footer>